@charset "utf-8";

*,
*:before,    
*:after {
box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding: 0px;
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

#SplashCanvas {
  border: solid 1px black;
  flex-grow: 1;
  padding: 18px;
}

#buildUnitViewer {
  border: solid 1px black;
  flex-grow: 1;
  padding: 18px;
}

#SthreadViewer_component {
  border: solid 1px black;
  flex-grow: 1;
  padding: 18px;
}

#SthreadViewer_sthread {
  border: solid 1px black;
  flex-grow: 1;
  padding: 18px;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* file tab */

/* Build Unit View window */
.draggable {
  display: inline-block;
  vertical-align: top;
  border: 4px solid #BBB;
  border-radius: 4px;
  background-color: #F5F5F5;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 500;
}

#infoDraggable_buildUnit {
  font: 12px helvetica, sans-serif;
  min-width: 213px;
}
#myInfo_buildUnit {
  width: 100%;
  overflow: hidden;
}

#infoDraggable_fusionOperator {
  font: 12px helvetica, sans-serif;
  min-width: 213px;
}
#myInfo_fusionOperator {
  width: 100%;
  overflow: hidden;
}


/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 3px 10px;
  transition: 0.3s;
  font-size: 13px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/* sidebar space style */
#sidebar {
  float: right;
  width: 200px;
  will-change: min-height;
}

#sidebar .sidebar__inner {
  position: relative;
  transform: translate(0, 0);
  transform: translate3d(0, 0, 0);
  will-change: position, transform; 
}

/* sidebar space style */
#sidebar_sthread {
  float: right;
  width: 200px;
  will-change: min-height;
}


#sidebar_sthread .sidebar_sthread__inner {
  position: relative;
  transform: translate(0, 0);
  transform: translate3d(0, 0, 0);
  will-change: position, transform; 
}


/* actual palette style */
#palette {      
  border: solid 1px black;
  width: 200px;
  height: 645px;
  background-color: #9B9B9B;
}

#palette_sthread {      
  border: solid 1px black;
  width: 200px;
  height: 445px;
  background-color: #9B9B9B;
}

#menuBar {
  border: none;
  border: 0px;
  margin: 0px;
  padding: 0px;
  font: 67.5% 'Lucida Sans Unicode', 'Bitstream Vera Sans', 'Trebuchet Unicode MS', 'Lucida Grande', Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  width: auto;
}

  #menuBar ul {
    background: #ededed;
    height: 25px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  #menuBar li {
    float: left;
    padding: 0px;
  }

    #menuBar li a {
      background: #ededed;
      display: block;
      font-weight: normal;
      line-height: 25px;
      margin: 0px;
      padding: 0px 5px;
      text-align: center;
      text-decoration: none;
    }

  #menuBar > ul > li > a {
    color: black;
  }

  #menuBar ul ul a {
    color: black;
  }

  #menuBar li > a:hover,
  #menuBar ul li:hover > a {
    background: #007FFF;
    color: white;
    text-decoration: none;
  }

  #menuBar li ul {
    background: #9CCB19;
    display: none;
    height: auto;
    padding: 0px;
    margin: 0px;
    border: 0px;
    position: absolute;
    width: auto;
    z-index: 200;
  }

  #menuBar li:hover ul {
    display: block;
  }

  #menuBar li li {
    background: #ededed;
    display: block;
    float: none;
    margin: 0px;
    padding: 0px;
    width: auto;
  }

  #menuBar li:hover li a {
    background: none;
  }

  #menuBar li ul a {
    display: block;
    height: 25px;
    font-size: 12px;
    font-style: normal;
    margin: 0px;
    padding: 0px 10px 0px 15px;
    text-align: left;
  }

    #menuBar li ul a:hover,
    #menuBar li ul li:hover > a {
      background: #007FFF;
      border: 0px;
      color: white;
      text-decoration: none;
    }
    
#programTitle {
  background: #1874CD;
  width: 100%;
  text-align: center;
  font-family: Arial;
  font-weight: bold;
  font-size: 14px;
  padding: 3px 0px;
  color: white;
}

.handle {
  background-color: #9CCB19;
  text-align: center;
  font: bold 12px sans-serif;
  border: 1px solid #000000;
}

#overviewDiv {
  background-color: lightgray;
}

.aboutBox {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.aboutBox-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 1000px;
}

/* The Close Button */
.closeAboutBox {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeAboutBox:hover,
.closeAboutBox:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.inspector {
  display: inline-block;
  font: bold 14px helvetica, sans-serif;
  background-color: #212121; /* Grey 900 */
  color: #F5F5F5; /* Grey 100 */
  cursor: default;

}

.inspector table {
  border-collapse: separate;
  border-spacing: 2px;  
}

.inspector td, th {
  padding: 2px;
  rowspan: 200px;
}

.inspector input {
  background-color: #FFFFFF; /* White */
  color: #000000;  /* black */
  font: bold 12px helvetica, sans-serif;
  border: 0px;
  padding: 2px;
  width: 160px;
}

.inspector input:disabled {
  background-color: #424242; /* Grey 800 */
  color: #BDBDBD;  /* Grey 400 */


}

.inspector select {
  background-color: #424242;
  width: 160px;
}

#logo_rtoslab {
  width: auto;
  height: 100px;
  margin-right: 20px;

}

#logo_splash {
  width: auto;
  height: 100px;
}

splashHighlight {
  font-weight: bold;
  font-size: 18px;
  font-style: italic;
}